<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CS50x Final Project</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/js/app.js"></script>
    </head>
    <body>
        <main>
            <div id="title-div">
                <h2>Whack a Duck</h2>
            </div>
            <div id="game-div">
                <iframe src="../static/game/build/web/index.html"></iframe>
            </div>
            <div id="highscore-div">
                <table>
                    <thead>
                        <tr>
                            <td>Place</td>
                            <td>Name</td>
                            <td>Score</td>
                        </tr>
                    </thead>

                    {% for score in highscores %}
                        <tbody>
                            <tr>
                                <td>{{ score.0 }}</td>
                                <td>{{ score.1 }}</td>
                                <td>{{ score.2 }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </main>  
    </body>
</html>